{% load static %}
    <nav class="navbar navbar-expand-lg fixed-top background-color-1">
        <div class="container">
        <!-- <a class="navbar-brand" href="#">Sarah Dresser's Portfolio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav justify-content-center" style="text-shadow: 1px 0.5px slategrey;">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#scrollspyHeading1"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyWebsites"><b>Websites</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyArtwork"><b>Artwork</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyContact"><b>Contact Me</b></a>
                </li>
            </ul>
        </div>
        <a href="{% url 'index' %}" class="btn btn-outline-secondary">Exit</a>
    </div>
</nav>
